@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
    scroll-behavior: smooth;
}

:root {
    --prime-color: #48d7bb;
    --black-color: #000;
    --white-color: #fff;
    --text-color: #35404E;
    --para-color: #2a2a2a;
    --transition: all .3s ease;
    --transition2: all .6s ease;
}

body {
    overflow-x: hidden;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero_bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
    z-index: 999;
}
nav, .hero_header{
    position: relative;
    z-index: 1;
}

.sticky_nav {

    width: 100%;
    height: 100px;
    background-color: var(--white-color);
    transition: var(--transition2);
    transform: translateY(-100%);
    opacity: 0;
    animation: anim_up .6s forwards linear;
}

@keyframes anim_up {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--prime-color);
    color: var(--white-color);
    font-size: 1.1rem;
    transition: var(--transition);
}

button:hover {
    box-shadow: 0 0 10px #3b3b3b9c;
    cursor: pointer;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 12%;
    scroll-margin-top: 50px;
    /*Leaves space for heading */
}

/* HEADER SECTION */

.logo a {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu li a {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--black-color);
    transition: var(--transition);
    padding: 5px;
}

.menu li a:hover {
    color: var(--prime-color);
}

.social_icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social_icons i {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--prime-color);
    color: var(--white-color);
    transition: var(--transition)
}

.social_icons i:hover {
    color: var(--prime-color);
    background-color: var(--white-color);
    cursor: pointer;
}

.bars {
    display: none;
}

.hero_content {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 5% 12%;
}

.hero_content h2 {
    color: var(--prime-color);
    font-size: 1.4rem;
    font-weight: 500
}

.hero_content h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.hero_content p,
.about_content p {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--para-color);
}


.hero_content button {
    margin: 10px 0;
}

.hero_content button a {
    color: var(--white-color);
}

.hero_content button a:hover {
    color: var(--prime-color)
}


/* ABOUT SECTION*/

.about {
    gap: 50px;
}

.about_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.about_img img {
    width: auto;
    height: 480px;
    object-fit: contain;
    box-shadow: 0 0 10px var(--para-color);
    border-radius: 50px;
}

.about_content h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-color);
}

.about_content button {
    margin: 10px 0;
    width: 160px;
    background-color: var(--white-color);
    border: 1px solid var(--prime-color);
    color: var(--prime-color);
}

.about_content button:hover {
    cursor: pointer;
    background-color: var(--prime-color);
    color: var(--white-color);
}

/* SERVICES SECTION */

.services {
    flex-direction: column;
    background-color: #F6F7FC;
}

.headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.headings h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--para-color);
}

.headings h2 {
    color: var(--prime-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.headings p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-color);
}

.services_cards {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service_card {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.service_card:hover i {
    background-color: var(--prime-color);
    color: var(--white-color);
    cursor: pointer;
}

.service_card i {
    flex-shrink: 0;
    font-size: 2.2rem;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--prime-color);
    color: var(--prime-color);
}

.service_card_det {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.service_card_det h2 {
    font-size: 1.3rem;
    font-weight: 600;
}


/* PORTFOLIO SECTION */

.portfolio {
    flex-direction: column;
    gap: 50px;
}

.portfolio_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.portfolio_img {
    position: relative;
    overflow: hidden;
}

.portfolio_img::after {
    content: "Multi Images";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(65, 209, 180, 0.6);
    backdrop-filter: blur(1px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white-color);
    transition: var(--transition2);
}

.portfolio1::after {
    content: "GitHub Page";
}

.portfolio2::after {
    content: "Client BnB Website ";
}

.portfolio3::after {
    content: "Simple Cafe Menu";
}

.portfolio_img:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
}


/* CONTACT SECTION */

.contact {
    flex-direction: column;
    gap: 50px;
    background-color: #F6F7FC;
}

.contact_inputs {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.inputs {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 2px solid rgba(131, 131, 131, 0.5);
    border-radius: 10px;
    outline: none;
    padding-left: 5%;
    font-size: 1.2rem;
    color: var(--para-color);
    transition: var(--transition);

    &::placeholder {
        color: #999;
    }

}

input:hover,
input:focus {
    border: 2px solid var(--prime-color);
}

textarea {
    width: 50%;
    height: 170px;
    background-color: transparent;
    border: 2px solid rgba(131, 131, 131, 0.5);
    border-radius: 10px;
    outline: none;
    padding: 5%;
    font-size: 1.2rem;

}

textarea:hover,
textarea:focus {
    border: 2px solid var(--prime-color);
}

.contact_btn button {
    width: 200px;
}

.address_det {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    place-items: center;
    gap: 20px;
}

.address_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.address_box i {
    font-size: 2rem;
    color: var(--prime-color);
    margin: 10px 0;
}

.address_box h2 {
    font-weight: 500;
    color: var(--prime-color);
}

.address_box p {
    font-size: 500;
    color: var(--para-color);
}


/* FOOTER SECTION */

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 12%;
    scroll-margin-top: 50px;
    background-color: var(--para-color);
}

footer p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white-color);
}

footer p span {
    font-weight: 600;
    transition: var(--transition);
}

footer p span:hover {
    color: var(--prime-color);
    cursor: pointer;
}

.footer_socials {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_socials i {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--prime-color);
    color: var(--white-color);
    transition: var(--transition)
}

.footer_socials i:hover {
    background-color: var(--white-color);
    color: var(--prime-color);
    cursor: pointer;
}

/* MEDIA QUERIES  */

/* desktops */

@media (max-width:1200px) {

    nav {
        padding: 0 8%;
    }

    header {
        background-image: url(Images/hero-bg1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 0;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
    }

    section {
        padding: 5% 8%;
    }

    .menu {
        gap: 10px;
    }

    .hero_content {
        width: 70%;
    }

}

/* tablets */

@media (max-width:992px) {

    nav {
        padding: 5% 5%;
        /* justify-content: space-between; */
    }

    .bars {
        display: none;
    }

    nav .social_icons {
        display: none;
    }

    .hero_content {
        width: 100%;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about_content {
        width: 100%;
        align-items: center;
    }

    .services_cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio_images {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact_inputs {
        flex-direction: column;
    }

    .inputs,
    textarea {
        width: 100%;
    }

}


/* smartphones */

@media (max-width:768px) {

    .hero_bg{
        object-position: 75% center;
    }

    nav {
        height: 80px;
        padding: 0 5%;
    }

    section {
        padding: 15% 5%;
    }


    .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 30px 0;
        gap: 20px;
        max-height: 0;
        overflow: hidden;
        transition: var(--transition2);
    }

    .menu.active {
        display: flex;
        max-height: 400px;
    }

    .social_icons {
        display: none;
    }

    .bars {
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }

    .bars i {
        transition: var(--transition);
    }

    .hero_content {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .hero_content h1 {
        font-size: 2rem;
    }

    .about_content h1,
    .headings h1 {
        font-size: 2.2rem;
    }

    .about_img img {
        height: 350px;
    }

    .services_cards {
        grid-template-columns: 1fr;
    }

    .portfolio_images {
        grid-template-columns: 1fr;
    }

    .address_det {
        grid-template-columns: 1fr;
    }

    footer {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

}

/* Small Phones */

@media (max-width:576px) {

    nav {
        height: 80px;
    }

    .logo a {
        font-size: 1.5rem;
    }

    .hero_content h1 {
        font-size: 1.7rem;
    }

    .hero_content h2 {
        font-size: 1.2rem;
    }

    .hero_content p,
    .about_content p,
    .headings p {
        font-size: 1rem;
    }

    button {
        width: 140px;
        font-size: 1rem;
    }

    .service_card {
        flex-direction: column;
        text-align: center;
    }

    .service_card_det {
        align-items: center;
    }

}